<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="${title}"></title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header th:insert="~{blocks/header.html :: header}"></header>

    <div class="centered-content">
        <div class="form">
            <h1 class="h1__withLine"> " <span th:text="${article.title}"></span> " </h1>
                <div class="form-box">
                    <div class="text__get-article">
                        <p><strong>Дата создания:</strong> <span th:text="${article.dateCreate}" ></span></p>
                        <p><strong>Дата последнего изменения:</strong> <span th:text="${article.dateChange}" ></span></p>

                        <div class="form-box">
                            <div>
                                <p><strong>Метка:</strong> <span th:text="${article.label}" ></span></p>
                            </div>
                            <div>
                                <p><strong>Автор:</strong> <span th:text="${article.author}" ></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="image__get-article" id="imagePreviewArticles">
                        <img th:src="${article.image}" class="fade-in bd-placeholder-img card-img-top" onload="this.classList.add('loaded')">
                    </div>
                </div>

                <h1 class="h1__withLine"></h1>

                <h2>Текст статьи:</h2>

                <div class="container">
                    <div class="col-sm-12 mt-5">
                        <div id="imageArticles" th:utext="${article.text}">Text</div>
                    </div>
                </div>
            <form id="articleFormDelete" th:action="@{/articles/delete/{id}(id=${article.id})}" method="POST" th:object="${article}">
                <button type="button" onclick="submitForm()" class="btn btn-outline-danger">Удалить статью</button>
                <a th:href="@{/articles/edit/{id}(id=${article.id})}">
                    <button type="button" class="btn btn btn-outline-warning">Редактировать</button>
                </a>
            </form>
        </div>
    </div>

    <script>
        function submitForm() {
            if (confirm("Вы уверены, что хотите удалить эту статью?")) {
                const form = document.getElementById('articleFormDelete');
                const articleId = form.getAttribute('action').split('/').pop();

                const articleData = {
                    id: articleId
                };

                const xhr = new XMLHttpRequest();
                xhr.open('POST', form.action, true);
                xhr.setRequestHeader('Content-Type', 'application/json');

                xhr.onload = function() {
                    if (xhr.status === 200) {
                        window.location.href = "/articles/page/1";
                    } else {
                        console.error('Ошибка при удалении статьи');
                    }
                };

                xhr.onerror = function() {
                    console.error('Ошибка при удалении статьи:', xhr.statusText);
                };

                xhr.send(JSON.stringify(articleData));
            }
        }
    </script>

    <footer th:insert="~{blocks/footer.html :: footer}"></footer>
</body>

</html>