<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Header</title>=
</head>

<body>
    <div th:fragment="header">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container mt-5 mt-md-0">
                <a class="navbar-brand" href="/articles/page/1">Система управления знаниями</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/auth">Вход</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/articles/new">Добавить статью</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">О нас</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search" action="/articles/search/page/1" method="GET">
                        <input class="form-control me-2" type="search" name="searchText" placeholder="По названию, дате..." aria-label="Search" th:value="${searchText}">
                        <input class="form-control me-2" type="datetime-local" name="startDate" placeholder="Start Date" aria-label="Start Date" th:value="${startDate}">
                        <input class="form-control me-2" type="datetime-local" name="endDate" placeholder="End Date" aria-label="End Date" th:value="${endDate}">
                        <button class="btn btn-outline-primary" type="submit">Поиск</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</body>

</html>